<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit.*]*,[Moq]*,[FluentAssertions*]*,[Sistema.ABAC.Infrastructure]Sistema.ABAC.Infrastructure.Persistence.Migrations.*</Exclude>
          <ExcludeByFile>**/Migrations/**/*.cs;**/Migrations/*.cs;**/*.g.cs;**/*.g.i.cs;**/Generated/**</ExcludeByFile>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <SkipAutoProps>true</SkipAutoProps>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>